@font-face {
    font-family: 'RobotoR';
    src: url('/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'RobotoM';
    src: url('/fonts/Roboto-Medium.ttf');
}

:root{
    --brandColor: rgb(52, 84, 122);
    --altColor: rgb(114, 114, 114);
    --navTitleSize: 16px;
    --h1TitleSize: 48px;
    --h2TitleSize: 32px;
    --bodyTitleSize: 16px;
    --mainWrapper-Width: 1110px;
    --robotoR: 'RobotoR';
    --robotoM: 'RobotoM';
}